include header
    link(rel='stylesheet', href='/stylesheets/doc.css')
body
    include navbar
    div(class='row-fluid')
        div(class='span6', id='editor')
        div(class='span6', id='markdown')
    script
            id = '#{id}';
    script(src='/javascripts/doc.js')
