doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', media='screen')
    script(src='/javascripts/src-min/ace.js')
    script(src='/channel/bcsocket.js')
    script(src='/share/share.js')
    script(src='/share/ace.js')
    script(src='/javascripts/jspdf/jspdf.js')
    script(src='/javascripts/jspdf/libs/FileSaver.js/FileSaver.js')
    script(src='/javascripts/jspdf/libs/BlobBuilder.js/BlobBuilder.js')
    script(src='/javascripts/jspdf/jspdf.plugin.standard_fonts_metrics.js')
    script(src='/javascripts/jspdf/jspdf.plugin.split_text_to_size.js')
    script(src='/javascripts/jspdf/jspdf.plugin.from_html.js')
    script(src='https://code.jquery.com/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='https://raw.github.com/coreyti/showdown/master/compressed/showdown.js')
