extends layout

block content
    div(class='container')
        form(class='form-search', action='/docs', method='GET')
            input(class='input-medium search-query', type='text', name='id')
            button(type='submit', class='btn') Ok
