doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', media='screen')
    script(src='http://ajaxorg.github.com/ace/build/src/ace.js')
    script(src='https://raw.github.com/coreyti/showdown/master/compressed/showdown.js')
    script(src='/channel/bcsocket.js')
    script(src='/share/share.js')
    script(src='/share/ace.js')
    script(src='http://code.jquery.com/jquery.js')
    script(src='/javascripts/bootstrap.min.js')

  body
    block content
