div(class='navbar navbar-inverse navbar-fixed-top')
    div(class='navbar-inner')
        div(class='container')
            a(class='brand', href='#') #{id}
            div(class='nav-collapse collapse')
                ul(class='nav')
                    include dropdown-theme
                    include dropdown-mode
                    li(class='dropdown')
                        a(href='#', class='dropdown-toggle',
                        data-toggle='dropdown') Export
                            b(class='caret')
                        ul(class='dropdown-menu')
                            li
                                a(class='export', value='jspdf') as pdf (jspdf)
                            li
                                a(class='export', value='pdfkit') as pdf (pdfkit)
